@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-marble: #050505;
  --color-concrete: #d9d4c8;
  --color-travertine: #c8b895;
  --color-wood: #d9d4c8;
  --color-wood-dark: #c8b895;
}
