@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@theme {
  --font-sans: "Inter", sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}
